@font-face {
  font-family: 'Monoton';
  src: url('../fonts/Monoton-Regular.ttf');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #222;
}

.header {
  font-family: 'Monoton', sans-serif;
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 2.5rem;
  word-spacing: 1.5rem;
  color: #b94a00;
}

.header > h1 {
  margin: 0;
}

.doom-fire {
  width: max-content;
  height: max-content;
  margin-top: 15px;
  background-color: #111;
  overflow: hidden;
}

.doom-fire.debug-mode {
  margin-top: 0px;
}

.doom-fire table {
  border-spacing: 0;
  border-collapse: collapse;
}

.doom-fire .fire-pixel {
  height: 3px;
  width: 2px;
  /* border: solid 1px #353535; */
}

.doom-fire .fire-pixel.pixel-debug {
  border: solid 2px #353535;
  position: relative;
  text-align: center;
  width: 45px;
  height: 45px;
}

.doom-fire .fire-pixel.pixel-debug .fire-index {
  color: #cacaca;
  position: absolute;
  font-size: 0.6rem;
  top: 2px;
  right: 3px;
}

.doom-fire .fire-pixel.pixel-debug .fire-content {
  color: #fff;
  font-weight: 600;
}

.controlers {
  margin: 30px 10px;
}

.controlers > button {
  border-radius: 4px;
  outline: 0;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  height: 40px;
  width: 40px;
  color: #1d1d1d;
}

.controlers > button:hover {
  opacity: 0.85;
}

.controlers #toggle-debug {
  background-color: #979797;
  border: solid 2px #777777;
  color: #222;
  width: 150px;
}

.controlers #intensity-lower {
  background-color: #db1010c9;
  border: solid 2px #ce19198e;
}

.controlers #intensity-add {
  background-color: #39d146d0;
  border: solid 2px #35aa3f;
}
